# Openstack and Nectar settings to be kept out of Git 

variable "openstack_user" {
    default = "USER_EMAIL"
}

variable "openstack_password" {
    description = "The password for the Tenant."
    default = "USER_PASSWORD"
    sensitive = true
}

variable "nectar_project_id" {
    default = "PROJECT_ID"
}

variable "nectar_project_name" {
    default = "PROJECT_NAME"
}

